/vendor/
/node_modules/
/.phpunit.cache/
.phpunit.cache/
/.phpunit.result.cache
.phpunit.result.cache
/composer.lock
composer.lock
/.idea/
/.vscode/
/.vite
/.env
.env
/.env.backup
/.env.testing
/coverage/
/build/
build/
.DS_Store
Thumbs.db
.php-cs-fixer.cache
.php_cs.cache
phpunit.xml.bak
pest.xml.bak
